[dir="rtl"] {
    text-align: right;
}

[dir="rtl"] .navbar-nav {
    padding-right: 0;
}

[dir="rtl"] .dropdown-menu {
    right: 0;
    left: auto;
    text-align: right;
}
[dir="rtl"]  .texte {
    text-align: right !important;
}
[dir="rtl"] .flex-container {
    text-align: center;
}

[dir="rtl"] .ml-auto {
    margin-right: auto !important;
    margin-left: 0 !important;
}

[dir="rtl"] .text-left {
    text-align: right !important;
}

[dir="rtl"] .text-right {
    text-align: left !important;
}
[dir="rtl"] .footer-column {
    text-align: right  !important;
}