
  

  
nav ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
  }
  
  .sitemap {
    width: 100%;
    
    margin: 5px auto;
    padding: 0 15px;
}
  .sitemap a {
    color: white;
    text-decoration: none;
    display: inline-block;
    text-transform: uppercase;
    margin: 0 5px;
    border-radius: 7px;
    text-align: center;
    position: relative;
    white-space: nowrap;

  }
  .sitemap a:hover {
   color: white;

  }
  .first{
    width: max-content;
    justify-self: center;
  }
  .first li {
width: max-content;
  }
  .first > li > a {
    background: #0DA853;
    width: 150px;
    height: 70px;
    line-height: 70px;
    display: block;
    margin: auto;
  }
  .first > li > a:after {
    content: "";
    position: absolute;
    left: 50%;
    width: 1px;
    height: 10px;
    background: #0DA850;
    top: 100%;
}

.second a:before {
    content: "";
    position: absolute;
    border: 1px solid #9e9f9e;
    border-left: none;
    border-bottom: none;
    height: 9px;
    top: -10px;
    left: -122px;
    width: 200px;
}

.third a:before {
    content: "";
    position: absolute;
    border: 1px solid #0DA850;
    border-right: none;
    border-top: none;
    height: 55px;
    top: -35px;
    left: -8px;
    width: 7px;
}

[dir="rtl"] .second a:before {
    border: 1px solid #9e9f9e;
    border-right: none;
    border-bottom: none;
    right: -122px;
    left: auto;
}

[dir="rtl"] .third a:before {
    border: 0px solid #0DA850;
    border-left: none;
    border-top: none;
    right: -8px;
    left: auto;
}

[dir="rtl"] .third {
    margin-right: 16px;
    margin-left: 0;
}




  
  .second {
    padding-top: 20px;
    
  }
  .second > li {
    display: inline-block;
    vertical-align: top;
  }
  .second a {
    background: #0DA850;
    font-size: 14px;
    width: auto;
    min-width: 125px;
    height: 50px;
    line-height: 50px;
    z-index: 10;
  }
  .second a:before {
    content: "";
    position: absolute;
    border: 1px solid #9e9f9e;
    border-left: none;
    border-bottom: none;
    height: 9px;
    top: -10px;
    left: -122px;
    width: 200px;
  }
  .second li:first-child a:before {
    border-top: none;
  } 
  
  .third {
    margin-left: 16px;
    padding-top: 20px;
  }
  .third a {
    background: #0DA850;
    width: auto;
    min-width: 150px;
    height: 40px;
    line-height: 40px;
    margin-bottom: 10px;
    z-index: 5;
    font-size: 10px;
  }
  .third a:before {
    border: 1px solid #0DA850;
    border-right: none;
    border-top: none;
    height: 55px;
    top: -35px;
    left: -8px;
    width: 7px;
  }
/* Responsive Styles */
.scrollable-div{
  width: 100%;
  overflow:visible;
  overflow-x: auto;
  overflow-y: auto;
  white-space: nowrap;
  box-sizing: border-box;
}
@media screen and (max-width: 768px) {
  [dir="rtl"] .third {
      margin-right: 0;
  }
  
  [dir="rtl"] .second a:before,
  [dir="rtl"] .third a:before {
      right: 50%;
      left: auto;
  }
}

/* @media screen and (max-width: 768px) {
    .sitemap {
        max-width: 100%;
        padding: 0 10px;
    }

    .first > li > a {
        width: 130px;
        height: 60px;
        line-height: 60px;
        font-size: 14px;
    }

    .first > li > a:after {
        height: 20px;
    }

    .second > li {
        display: block;
        margin-bottom: 20px;
        text-align: center;
    }

    .second a {
        min-width: 120px;
        height: 45px;
        line-height: 45px;
        font-size: 13px;
        margin: 0 auto;
    }

    .second a:before,
    .third a:before {
        display: none;
    }

    .third {
        margin-left: 0;
        margin-right: 0;
        padding-top: 15px;
        text-align: center;
    }

    .third a {
        min-width: 110px;
        height: 35px;
        line-height: 35px;
        font-size: 11px;
        margin: 5px;
    }
} */

/* @media screen and (max-width: 480px) {
    .first > li > a {
        width: 110px;
        height: 50px;
        line-height: 50px;
        font-size: 13px;
    }

    .second a {
        min-width: 100px;
        height: 40px;
        line-height: 40px;
        font-size: 12px;
    }

    .third a {
        min-width: 90px;
        height: 35px;
        line-height: 35px;
        font-size: 10px;
    }
} */